<a href="https://colab.research.google.com/github/ADKARSANJANA/TNS/blob/main/Week1_HW_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1 – Python Basics: Variables, Input/Output, Operators

In [ ]:
#1. Write a program that takes the radius as input and calculates the area and circumference of a circle.
def calculate():
  radius = float(input("Enter the radius:"))
  area = 3.14*radius*radius
  print("Area:",area)
  circumference=2*3.14*radius
  print("Circumfernce:",circumference)
calculate()

Enter the radius:5
Area: 78.5
Circumfernce: 31.400000000000002

In [ ]:
#2. Write a program to check if a number is divisible by both 3 and 5.
number = int(input("Enter the number:"))
if number%3==0 and number%5==0:
  print("The number is divisible by both 3and 5")
else:
  print("The number is divisible by both 3and 5")

Enter the number:15
The number is divisible by both 3and 5

In [ ]:
#3. Write a program that takes a 4-digit number from the user and prints the sum of its digits.
num = int(input("Enter a 4 digit number: "))
if num >= 1000 and num <= 9999:
    digit1 = num // 1000
    digit2 = (num // 100) % 10
    digit3 = (num // 10) % 10
    digit4 = num % 10
    total = digit1 + digit2 + digit3 + digit4
    print("Sum of digits:", total)
else:
    print("Please enter a valid 4 digit number.")

Enter a 4 digit number: 1345
Sum of digits: 13

Day 2 – Control Flow: if-else, loops

In [ ]:
#1. Write a program to print the factorial of a number using a for loop.
n = int(input("Enter the number: "))
b = 1
for i in range(1, n + 1):
    b *= i
print("The factorial is :" , b)

Enter the number: 5
The factorial is : 120

In [ ]:
#2. Write a program that prints all numbers from 1 to 100 that are divisible by 7 but not a multiple of 5.
for i in range(1,101):
  if i%7==0 and i%5!=0:
    print(i)

7
14
21
28
42
49
56
63
77
84
91
98

In [ ]:
#3. Write a program that takes a number and prints whether it is a palindrome or not.
num = input("Enter a number: ")
if num == num[::-1]:
    print("The number is a palindrome.")
else:
    print("The number is not a palindrome.")

Enter a number: 1234545
The number is not a palindrome.

Day 3 – Functions and String Handling

In [ ]:
#1. Write a function to check whether a given string is a pangram (contains all letters of the alphabet).
def is_pangram(s):
    s = s.lower()
    alphabet = "abcdefghijklmnopqrstuvwxyz"

    for letter in alphabet:
        if letter not in s:
            return False
    return True
text = input("Enter a string: ")
if is_pangram(text):
    print("The string is a pangram.")
else:
    print("The string is not a pangram.")

Enter a string: bswbk
The string is not a pangram.

In [ ]:
#2.	Write a function that takes a sentence and returns the word with the maximum length.
def word_with_max_length():
  word = input("Enter the sentence:" )
  words = word.split()

  max_len_word = ""
  for i in words:
    if len(i) >len(max_len_word):
      max_len_word = i
  return max_len_word
word_with_max_length()

Enter the sentence:My name is sanjana.

'sanjana.'

In [ ]:
#3.	Write a function to count the number of uppercase and lowercase characters in a string.
def count():
  string = input("Enter a string:")
  upper_case = 0
  lower_case = 0
  for i in string:
    if i.isupper():
      upper_case +=1
    elif i.islower():
      lower_case +=1
  print("Upper Case:",upper_case)
  print("Lower Case", lower_case)
count()

Enter a string:I like to play Badminton
Upper Case: 2
Lower Case 18

Day 4 – Lists

In [ ]:
#1.	Write a program to find the difference between the maximum and minimum elements in a list.
def differences():
  numbers = list(int,input("Enter a list: "))

  differences = ""
  max_ele = max(numbers)
  min_ele = min(numbers)
  differences = max_ele - min_ele
  return differences
  print("Differences", differences())

In [ ]:
#1.	Write a program to find the difference between the maximum and minimum elements in a list.
def differences():
    numbers = list(map(int, input("Enter numbers separated by space: ").split()))
    max_ele = max(numbers)
    min_ele = min(numbers)
    difference = max_ele - min_ele
    return difference
print("Difference:", differences())

Enter numbers separated by space: 10 20 30 40 50
Difference: 40

In [ ]:
#2.	Write a program to remove all elements at odd indices from a list.
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
result = my_list[::2]
print(result)

[1, 3, 5, 7, 9, 11, 13]

In [11]:
#3.	Write a program that takes a list of integers and prints only the elements that appear exactly once.
def numbers():
  my_list = list(map(int,input("Enter numbers seperated by space:").split()))
  for i in  my_list:
   if my_list.count(i) == 1:
    print(i)
numbers()

Enter numbers seperated by space:1 2 3 4 5 6 3 2
1
4
5
6

Day 5 – Tuples

In [20]:
#1.	Write a program to take 5 numbers from the user and store them in a tuple, then print the maximum and minimum.
def numbers():
    nums = tuple(map(int, input("Enter 5 numbers separated by space: ").split()[:5]))
    print("Tuple:", nums)
    print("Maximum:", max(nums))
    print("Minimum:", min(nums))

numbers()

Enter 5 numbers separated by space: 1 2 3 4 5 6
Tuple: (1, 2, 3, 4, 5)
Maximum: 5
Minimum: 1

In [22]:
#2.	Given a tuple of integers, write a program to count how many elements are divisible by 3.
def number():
  nums = tuple(map(int, input("Enter the numbers:").split()))
  count = 0
  for i in nums:
     if i % 3 == 0 :
          count += 1
  print("Count of numbers divisible by 3:", count)

number()

Enter the numbers:10 15 21 18
Count of numbers divisible by 3: 3

In [25]:
#3.	Write a program to reverse the contents of a tuple without using reversed().
def reverse_tuple():
    nums = tuple(map(int, input("Enter numbers separated by space: ").split()))
    reversed_tuple = nums[::-1]
    print("Original Tuple:", nums)
    print("Reversed Tuple:", reversed_tuple)

reverse_tuple()

Enter numbers separated by space: 1 2 3 4 5 6
Original Tuple: (1, 2, 3, 4, 5, 6)
Reversed Tuple: (6, 5, 4, 3, 2, 1)

Day 6 – Sets

In [47]:
#1.	Write a program to take two lists from the user and print the common elements using sets.
my_list_1 = list(map(int,input("Enter numbers seperated by space:").split()))
my_list_2 = list(map(int,input("Enter numbers seperated by space:").split()))
common_element = set(my_list_1)&set(my_list_2)
print("Common Elements :",common_element)

Enter numbers seperated by space:1 2 3 4
Enter numbers seperated by space:4 5 6 1
Common Elements : {1, 4}

In [46]:
#2.	Write a program to check if two sets are disjoint or not.
set1 = set(map(int, input("Enter elements of first set: ").split()))
set2 = set(map(int, input("Enter elements of second set: ").split()))

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

Enter elements of first set: 1 2 3 4 5 6
Enter elements of second set: 4 5 6 7  8 9
The sets are not disjoint.

In [45]:
#3.	Write a program to find all unique vowels present in a given string using set.

a = input("Enter a string: ").lower()
vowels = {'a', 'e', 'i', 'o', 'u'}
unique_vowels = set(a) & vowels
print("Unique vowels in the string:", unique_vowels)

Enter a string: sanjana
Unique vowels in the string: {'a'}

Day 7 – Dictionaries

In [43]:
#1.	Write a program that takes a sentence and creates a dictionary with word counts.
sentence = input("Enter a sentence: ")
words = sentence.split()
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print("Word counts:", word_count)

Enter a sentence: HELLO MY NAME IS SANJANA AND I LIKE MY NAME VERY MUCH
Word counts: {'HELLO': 1, 'MY': 2, 'NAME': 2, 'IS': 1, 'SANJANA': 1, 'AND': 1, 'I': 1, 'LIKE': 1, 'VERY': 1, 'MUCH': 1}

In [41]:
#2.	Write a program to map roll numbers to names using two lists and form a dictionary.
roll_numbers = list(map(int, input("Enter numbers separated by space: ").split()))
names = input("Enter names separated by space: ").split()
roll_to_name = dict(zip(roll_numbers, names))
print("Roll Number to Names :", roll_to_name)

Enter numbers separated by space: 1 2 3 4 5
Enter names separated by space: SAM RAM KRISHNA SITA GEETA
Roll Number to Names : {1: 'SAM', 2: 'RAM', 3: 'KRISHNA', 4: 'SITA', 5: 'GEETA'}

In [40]:
#3.	Write a program that takes a dictionary of students and their marks, and prints the name(s) of the student(s) with the highest marks.
n = int(input("Enter number of students: "))
students = {}
for _ in range(n):
    name = input("Enter student name: ")
    marks = int(input("Enter marks: "))
    students[name] = marks
max_marks = max(students.values())
top_students = [name for name, mark in students.items() if mark == max_marks]
print("Student(s) with highest marks:", top_students)

Enter number of students: 3
Enter student name: SANJANA
Enter marks: 95
Enter student name: PRIYA
Enter marks: 95
Enter student name: DAVID
Enter marks: 90
Student(s) with highest marks: ['SANJANA', 'PRIYA']

Day 8 – Mixed Data Structures

In [35]:
#1.	Write a program that converts a list of tuples into a dictionary.
 #Example: [('a', 1), ('b', 2)] → {'a': 1, 'b': 2}
data = input("Enter the tuples (key value) separated by commas: ").split(",")

tuple_list = []
for item in data:
    key, value = item.split()
    tuple_list.append((key, int(value)))

print("List of tuples:", tuple_list)

my_dict = dict(tuple_list)
print("Dictionary:", my_dict)

Enter the tuples (key value) separated by commas: A 1 , B 2
List of tuples: [('A', 1), ('B', 2)]
Dictionary: {'A': 1, 'B': 2}

In [30]:
#2.	Given a dictionary with values as lists, write a program to flatten all values into a single list.
my_dict = {'a':[1, 2], 'b':[3, 4], 'c':[5, 6]}
flattened_list = []
for value_list in my_dict.values():
    flattened_list.extend(value_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6]

In [29]:
#3.	Write a program that takes a list with duplicate elements and returns a dictionary with elements as keys and their frequency as values.
nums = list(map(int, input("Enter numbers separated by space: ").split()))

freq_dict = {}

for num in nums:
    if num in freq_dict:
        freq_dict[num] += 1
    else:
        freq_dict[num] = 1

print("Frequency of elements:", freq_dict)

Enter numbers separated by space: 1 2 2 3 4 5 5 6
Frequency of elements: {1: 1, 2: 2, 3: 1, 4: 1, 5: 2, 6: 1}